<div class="jumbotron bg-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ .title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead lead-header">{{ .text }}</p>
                    </div>
                </div>
            </div>
            {{ if isset . "image" }}
            <div class="col-md-4">
                <img class="img-fluid mx-auto d-block" src="{{ .Site.BaseURL }}{{ .image }}" width="75%">
            </div>
            {{ end }}
        </div>
    </div>
</div>