    
    <meta charset="utf-8">
    <meta name="description" content="Aqualumen, centre de terapies alternatives.">
    <meta name="keywords" content="Terapias,Biomagnetismo">
    <meta name="author" content="Raul Garcia">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{.Site.BaseURL}}plugins/css/bootstrap.min.css" type="text/css">
    <link href="{{.Site.BaseURL}}css/styles.css" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap&subset=latin-ext" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
